@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
@import "_zeroing";

.container {
   width: 80%;
   margin: 0 auto;
}

/* Navigation menu */
.nav {
   position: sticky;
   top: 0;

   margin: 0px 0px 15px 0px;

   background: #f5f5f5;
   box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.15);
   &__row {
      height: 55px;
      display: flex;
      justify-content: left;
      align-items: center;
   }

   &__link-list {
      min-width: 250px;
      flex: 0 1 auto;

      display: flex;
      flex-flow: row wrap;
      justify-content: left;
      align-items: center;
   }
}
.link-list {
   &__link {
      flex: 1 1 auto;
      margin: 0px 0px 0px 20px;
      a {
         font-family: "Lato";
         font-weight: 700;
         font-size: 27px;
         color: #000;
      }
   }
}

/* Header with slider */
.header {
   &__row {
      display: flex;
      flex-flow: row nowrap;
      justify-self: center;
      align-items: top;
   }

   &__slider {
      flex: 1 0 100%;
      height: auto;
      max-height: 450px;
   }
}
.slider {
   background: #f5f5f5;
   border-radius: 45px;
   overflow: hidden;
   border: 0.5px solid #555;

   .container {
      width: 100%;
      height: 100%;
   }

   &__row {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: left;
      align-items: center;
      transition: 1s;
   }

   &__img {
      width: 100%;
      flex: 1 0 100%;
   }
}
